<div>
    <img src="assets/img/unicap.png" alt="unicap" class="rounded float-right" height="136">
    <br><br>
    <p>Centro de Ciência e Tecnologia</p>
    <p>Curso Ciência da Computação</p>
</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Matricula</th>
        <th scope="col">Nome</th>
        <th scope="col">E-Mail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prof of professores" (click)="selecionarLinha(prof)">
        <td scope="row">{{prof.matricula}}</td>
        <td>{{prof.nome}}</td>
        <td>{{prof.email}}</td>
      </tr>
    </tbody>
</table>